
  
  .go-to-home {
    display: flex;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #000000;
    cursor: pointer;
    width: 100px;
    margin: 20px auto;
    a {
      text-decoration: none;
      color: #ffffff;
    }
}